<div class="container parent" style="width: 500px; margin-top:200px">
        <div id='row-0' class="row">
  
          <div id='row-0' class="row">
            <div id='col-00' ng-click="click('col-00')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
            <div id='col-01' ng-click="click('col-01')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
            <div id='col-02' ng-click="click('col-02')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
          </div>
  
          <div id='row-1' class="row">
            <div id='col-10' ng-click="click('col-10')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
            <div id='col-11' ng-click="click('col-11')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
            <div id='col-12' ng-click="click('col-12')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
          </div>
  
          <div id='row-2' class="row">
            <div id='col-20' ng-click="click('col-20')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
            <div id='col-21' ng-click="click('col-21')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
            <div id='col-22' ng-click="click('col-22')" class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col"><span style="font-size: 50px;"></span></div>
          </div>
        </div>
</div>